.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
#catalog-page {
  background: url('../../images/bg/bg-catalog.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#catalog-page #main-menu {
  background-color: #fff;
  -webkit-box-shadow: 0 7px 10px 0px #000000;
  -moz-box-shadow: 0 7px 10px 0px #000000;
  -o-box-shadow: 0 7px 10px 0px #000000;
  box-shadow: 0 7px 10px 0px #000000;
}
#catalog-page #main-menu .menu-wrap {
  display: table;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
#catalog-page #main-menu .menu-wrap > div {
  display: table-cell;
  vertical-align: bottom;
}
#catalog-page #main-menu .menu-wrap .left {
  width: 37.5%;
}
#catalog-page #main-menu .menu-wrap .right {
  width: 37.5%;
}
#catalog-page #main-menu .menu-wrap .center {
  width: 25%;
}
#catalog-page #main-menu .menu-wrap .center .menu-logo {
  padding: 10px 0;
  text-align: center;
}
#catalog-page #main-menu ul.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  zoom: 1;
}
#catalog-page #main-menu ul.menu-list:before,
#catalog-page #main-menu ul.menu-list:after {
  content: "";
  display: table;
}
#catalog-page #main-menu ul.menu-list:after {
  clear: both;
}
#catalog-page #main-menu ul.menu-list li.menu-item {
  float: left;
  text-align: center;
  width: 33.33333333%;
}
#catalog-page #main-menu ul.menu-list li.menu-item a {
  color: #7a7975;
  -webkit-transition: 0.3s color ease-in-out;
  -moz-transition: 0.3s color ease-in-out;
  -ms-transition: 0.3s color ease-in-out;
  -o-transition: 0.3s color ease-in-out;
  font-size: 24px;
  font-family: 'kokilaregular', sans-serif;
  text-transform: uppercase;
}
#catalog-page #main-menu ul.menu-list li.menu-item a:hover,
#catalog-page #main-menu ul.menu-list li.menu-item a:active {
  cursor: pointer;
  text-decoration: none;
  color: #60605c;
}
#catalog-page #main-menu ul.menu-list li.menu-item span.home-icon,
#catalog-page #main-menu ul.menu-list li.menu-item span.cart-icon {
  display: inline-block;
  height: 35px;
  width: 35px;
  cursor: pointer;
  background-repeat: no-repeat;
}
#catalog-page #main-menu ul.menu-list li.menu-item span.home-icon {
  background: url('../../images/icons/homepage.png') no-repeat center;
}
#catalog-page #main-menu ul.menu-list li.menu-item span.cart-icon {
  background-image: url('../../images/icons/header_cart.png');
  background-position: 0 0;
}
#catalog-page #main-menu ul.menu-list li.menu-item span.cart-icon:hover {
  background-position: -35px 0;
}
#catalog-page #main-menu ul.menu-list li.menu-item span.cart-count {
  color: #6b6b6b;
  font-size: 24px;
  font-family: 'Corbel', sans-serif;
}
#catalog-page #main-menu ul.menu-list li.menu-item label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0 0 0;
  cursor: pointer;
}
#catalog-page #main-menu ul.menu-list li.menu-item label:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 5px;
  height: 25px;
  width: 25px;
  background-image: url('../../images/icons/header_search.png');
  background-repeat: no-repeat;
  background-position: -25px 0;
  background-size: cover;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
#catalog-page #main-menu ul.menu-list li.menu-item label:hover:before {
  background-position: 0 0;
}
#catalog-page #main-menu ul.menu-list li.menu-item label input.search-input {
  outline: none;
  border: 1px solid;
  border-color: #7a7975;
  border-radius: 5px;
  padding: 3px 5px 3px 30px;
  -webkit-transition: 0.3s border-color ease-in-out;
  -moz-transition: 0.3s border-color ease-in-out;
  -ms-transition: 0.3s border-color ease-in-out;
  -o-transition: 0.3s border-color ease-in-out;
}
#catalog-page #main-menu ul.menu-list li.menu-item label input.search-input:focus {
  border-color: #7ddecf;
}
#catalog-page #products-list-wrap {
  width: 1240px;
  margin: 20px auto;
}
#catalog-page #products-list-wrap ul.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 540px;
  zoom: 1;
}
#catalog-page #products-list-wrap ul.products-list:before,
#catalog-page #products-list-wrap ul.products-list:after {
  content: "";
  display: table;
}
#catalog-page #products-list-wrap ul.products-list:after {
  clear: both;
}
#catalog-page #products-list-wrap ul.products-list li.product-item {
  position: relative;
  float: left;
  cursor: pointer;
  width: 393.333333333px;
  height: 439.2px;
  margin-right: 30px;
  margin-bottom: 35px;
  background-color: transparent;
}
#catalog-page #products-list-wrap ul.products-list li.product-item:nth-child(3n) {
  margin-right: 0;
}
#catalog-page #products-list-wrap ul.products-list li.product-item:hover .product-image {
  width: 110%;
  height: 110%;
}
#catalog-page #products-list-wrap ul.products-list li.product-item:hover .product-image img {
  -webkit-transform: translate(-50%, -50%) scale(2);
  -moz-transform: translate(-50%, -50%) scale(2);
  -ms-transform: translate(-50%, -50%) scale(2);
  -o-transform: translate(-50%, -50%) scale(2);
  -webkit-transition: 40s all ease;
  -moz-transition: 40s all ease;
  -ms-transition: 40s all ease;
  -o-transition: 40s all ease;
}
#catalog-page #products-list-wrap ul.products-list li.product-item:hover .product-content {
  height: 110%;
  width: 110%;
  background-color: rgba(72, 174, 159, 0.7);
}
#catalog-page #products-list-wrap ul.products-list li.product-item:hover .product-content .top-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
#catalog-page #products-list-wrap ul.products-list li.product-item:hover .product-content .product-buttons {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-image {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-image img {
  position: absolute;
  border: none;
  height: 100%;
  width: auto;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  z-index: 20;
  overflow: hidden;
  background-color: rgba(72, 174, 159, 0);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-content .top-content {
  font-size: 48px;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-content .top-content .product-name {
  font-family: 'Corbel', sans-serif;
  color: #3b605a;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-content .top-content .product-price {
  font-family: 'copperplate_gothic_lightRg', sans-serif;
  color: #fff;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-content .product-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  border: 1px solid #7a7975;
  padding: 10px 15px;
  opacity: 0;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  -webkit-transform: translate(-50%, 300px);
  -moz-transform: translate(-50%, 300px);
  -ms-transform: translate(-50%, 300px);
  -o-transform: translate(-50%, 300px);
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-content .product-buttons span {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-right: 10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-content .product-buttons span:last-child {
  margin-right: 0;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-content .product-buttons span:hover {
  background-position: -50px 0;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-content .product-buttons span.view-product {
  background-image: url('../../images/icons/header_search.png');
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-content .product-buttons span.add-to-cart {
  background-image: url('../../images/icons/catalog_product_item_cart.png');
}
