.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'copperplate_gothic_lightRg';
  src: url('../fonts/coprgtl-webfont.eot');
  src: url('../fonts/coprgtl-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/coprgtl-webfont.woff2') format('woff2'), url('../fonts/coprgtl-webfont.woff') format('woff'), url('../fonts/coprgtl-webfont.ttf') format('truetype'), url('../fonts/coprgtl-webfont.svg#copperplate_gothic_lightRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Corbel';
  src: url('../fonts/Corbel.eot?#iefix');
  src: url('../fonts/Corbel.eot?#iefix') format('embedded-opentype'), url('../fonts/Corbel.woff') format('woff'), url('../fonts/Corbel.ttf') format('truetype'), url('../fonts/Corbel.svg#Corbel') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mangal';
  src: url('../fonts/Mangal.eot?#iefix') format('embedded-opentype'), url('../fonts/Mangal.woff') format('woff'), url('../fonts/Mangal.ttf') format('truetype'), url('../fonts/Mangal.svg#Mangal') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kokilaregular';
  src: url('../fonts/kokila-webfont.eot');
  src: url('../fonts/kokila-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/kokila-webfont.woff2') format('woff2'), url('../fonts/kokila-webfont.woff') format('woff'), url('../fonts/kokila-webfont.ttf') format('truetype'), url('../fonts/kokila-webfont.svg#kokilaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  min-width: 1024px;
  width: 100%;
  background: url('../../images/bg/bg-catalog.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.fixed {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
.page {
  position: relative;
  min-height: 100vh;
}
.page.active {
  display: block;
}
#home-page {
  background: url('../../images/bg/bg_homepage.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#home-page #logo {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
#home-page #logo .logo-image {
  position: relative;
  width: 100%;
}
#home-page #catalog-link {
  position: absolute;
  text-align: center;
  bottom: 20px;
  width: 50%;
}
#home-page #catalog-link span {
  cursor: pointer;
  font-family: 'kokilaregular', sans-serif;
  font-size: 36px;
  color: #7a7975;
  text-transform: uppercase;
  -webkit-transition: 0.3s color ease-in-out;
  -moz-transition: 0.3s color ease-in-out;
  -ms-transition: 0.3s color ease-in-out;
  -o-transition: 0.3s color ease-in-out;
}
#home-page #catalog-link span:hover {
  color: #94938f;
}
.ScrollSceneIndicators {
  z-index: 100 !important;
}
#catalog-page #main-menu {
  background-color: #fff;
  width: 100%;
  z-index: 30;
  -webkit-box-shadow: 0 7px 10px 0px #000000;
  -moz-box-shadow: 0 7px 10px 0px #000000;
  -o-box-shadow: 0 7px 10px 0px #000000;
  box-shadow: 0 7px 10px 0px #000000;
}
#catalog-page #main-menu .menu-wrap {
  display: table;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
#catalog-page #main-menu .menu-wrap > div {
  display: table-cell;
  vertical-align: bottom;
}
#catalog-page #main-menu .menu-wrap .left {
  width: 37.5%;
}
#catalog-page #main-menu .menu-wrap .right {
  width: 37.5%;
}
#catalog-page #main-menu .menu-wrap .center {
  width: 25%;
  position: relative;
  height: 210px;
  overflow: hidden;
}
#catalog-page #main-menu .menu-wrap .center .menu-logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  padding: 10px 0;
  text-align: center;
}
#catalog-page #main-menu ul.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  zoom: 1;
}
#catalog-page #main-menu ul.menu-list:before,
#catalog-page #main-menu ul.menu-list:after {
  content: "";
  display: table;
}
#catalog-page #main-menu ul.menu-list:after {
  clear: both;
}
#catalog-page #main-menu ul.menu-list li.menu-item {
  float: left;
  text-align: center;
  width: 33.33333333%;
}
#catalog-page #main-menu ul.menu-list li.menu-item a {
  color: #7a7975;
  -webkit-transition: 0.3s color ease-in-out;
  -moz-transition: 0.3s color ease-in-out;
  -ms-transition: 0.3s color ease-in-out;
  -o-transition: 0.3s color ease-in-out;
  font-size: 24px;
  font-family: 'kokilaregular', sans-serif;
  text-transform: uppercase;
}
#catalog-page #main-menu ul.menu-list li.menu-item a:hover,
#catalog-page #main-menu ul.menu-list li.menu-item a:active {
  cursor: pointer;
  text-decoration: none;
  color: #60605c;
}
#catalog-page #main-menu ul.menu-list li.menu-item span.home-icon,
#catalog-page #main-menu ul.menu-list li.menu-item span.cart-icon {
  display: inline-block;
  height: 35px;
  width: 35px;
  cursor: pointer;
  background-repeat: no-repeat;
}
#catalog-page #main-menu ul.menu-list li.menu-item span.home-icon {
  background: url('../../images/icons/homepage.png') no-repeat center;
}
#catalog-page #main-menu ul.menu-list li.menu-item span.cart-icon {
  background-image: url('../../images/icons/header_cart.png');
  background-position: 0 0;
}
#catalog-page #main-menu ul.menu-list li.menu-item span.cart-icon:hover {
  background-position: -35px 0;
}
#catalog-page #main-menu ul.menu-list li.menu-item span.cart-count {
  color: #6b6b6b;
  font-size: 24px;
  font-family: 'Corbel', sans-serif;
}
#catalog-page #main-menu ul.menu-list li.menu-item label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0 0 0;
  cursor: pointer;
}
#catalog-page #main-menu ul.menu-list li.menu-item label:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 5px;
  height: 25px;
  width: 25px;
  background-image: url('../../images/icons/header_search.png');
  background-repeat: no-repeat;
  background-position: -25px 0;
  background-size: cover;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
#catalog-page #main-menu ul.menu-list li.menu-item label:hover:before {
  background-position: 0 0;
}
#catalog-page #main-menu ul.menu-list li.menu-item label input.search-input {
  outline: none;
  border: 1px solid;
  border-color: #7a7975;
  border-radius: 5px;
  padding: 3px 5px 3px 30px;
  -webkit-transition: 0.3s border-color ease-in-out;
  -moz-transition: 0.3s border-color ease-in-out;
  -ms-transition: 0.3s border-color ease-in-out;
  -o-transition: 0.3s border-color ease-in-out;
}
#catalog-page #main-menu ul.menu-list li.menu-item label input.search-input:focus {
  border-color: #7ddecf;
}
#catalog-page #products-list-wrap {
  width: 1240px;
  margin: 20px auto;
  height: 500px;
}
#catalog-page #products-list-wrap ul.products-list {
  list-style: none;
  padding: 0;
  min-height: 540px;
  margin: 30px 0;
  zoom: 1;
}
#catalog-page #products-list-wrap ul.products-list:before,
#catalog-page #products-list-wrap ul.products-list:after {
  content: "";
  display: table;
}
#catalog-page #products-list-wrap ul.products-list:after {
  clear: both;
}
#catalog-page #products-list-wrap ul.products-list li.product-item {
  position: relative;
  float: left;
  width: 372px;
  height: 549px;
  margin: 20.66666667px 15px;
  cursor: pointer;
  background-color: transparent;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-item-inner {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-item-inner > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-item-inner .image-container {
  background-color: #fff;
  z-index: 10;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-item-inner .image-container img.image {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  border: none;
  height: 100%;
  width: auto;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-item-inner .content-container {
  background-color: rgba(72, 174, 159, 0);
  z-index: 20;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-item-inner .content-container .description {
  margin-top: 50px;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  font-size: 48px;
  text-align: center;
  opacity: 0;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-item-inner .content-container .description .name-container {
  font-family: 'Corbel', sans-serif;
  color: #000;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-item-inner .content-container .description .price-container {
  font-family: 'copperplate_gothic_lightRg', sans-serif;
  color: #fff;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-item-inner .content-container .buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  border: 1px solid #000;
  opacity: 0;
  padding: 10px 15px;
  -webkit-transform: translate(-50%, 300px);
  -moz-transform: translate(-50%, 300px);
  -ms-transform: translate(-50%, 300px);
  -o-transform: translate(-50%, 300px);
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-item-inner .content-container .buttons span {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  background: no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-item-inner .content-container .buttons span:last-child {
  margin-right: 0;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-item-inner .content-container .buttons span:hover {
  background-position: -50px 0;
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-item-inner .content-container .buttons span.view-product {
  background-image: url('../../images/icons/header_search.png');
}
#catalog-page #products-list-wrap ul.products-list li.product-item .product-item-inner .content-container .buttons span.add-to-cart {
  background-image: url('../../images/icons/catalog_product_item_cart.png');
}
#catalog-page #products-list-wrap ul.products-list li.product-item:hover .product-item-inner {
  width: 110%;
  height: 110%;
}
#catalog-page #products-list-wrap ul.products-list li.product-item:hover .product-item-inner .image-container img.image {
  -webkit-transform: translate(-50%, -50%) scale(2);
  -moz-transform: translate(-50%, -50%) scale(2);
  -ms-transform: translate(-50%, -50%) scale(2);
  -o-transform: translate(-50%, -50%) scale(2);
  -webkit-transition: -webkit-transform 40s ease;
  -moz-transition: -moz-transform 40s ease;
  -o-transition: -o-transform 40s ease;
  transition: transform 40s ease;
}
#catalog-page #products-list-wrap ul.products-list li.product-item:hover .product-item-inner .content-container {
  background-color: rgba(72, 174, 159, 0.7);
}
#catalog-page #products-list-wrap ul.products-list li.product-item:hover .product-item-inner .content-container .description {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
#catalog-page #products-list-wrap ul.products-list li.product-item:hover .product-item-inner .content-container .buttons {
  opacity: 1;
  -webkit-transform: translate(-50%, 20%);
  -moz-transform: translate(-50%, 20%);
  -ms-transform: translate(-50%, 20%);
  -o-transform: translate(-50%, 20%);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
}
#catalog-page #products-list-wrap ul.products-list li.product-item:nth-child(3n) {
  margin-right: 0;
}
#product-view {
  background-image: url('../../images/bg/product-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#product-view .product-wrap {
  position: relative;
}
#product-view .product-wrap > div {
  position: absolute;
}
#product-view .product-wrap ul.related-products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
  border-radius: 5px;
}
#product-view .product-wrap ul.related-products-list li.related-product-item {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  cursor: pointer;
}
#product-view .product-wrap ul.related-products-list li.related-product-item img {
  max-height: 80px;
  width: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#product-view .product-wrap .left-panel,
#product-view .product-wrap .right-panel {
  top: 100px;
}
#product-view .product-wrap .middle-panel {
  top: 110px;
  left: 50%;
  width: 800px;
  padding: 10px;
  background-color: rgba(82, 182, 164, 0.3);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  zoom: 1;
}
#product-view .product-wrap .middle-panel:before,
#product-view .product-wrap .middle-panel:after {
  content: "";
  display: table;
}
#product-view .product-wrap .middle-panel:after {
  clear: both;
}
#product-view .product-wrap .middle-panel .product-image {
  float: left;
  width: 300px;
  position: relative;
  margin-right: 20px;
}
#product-view .product-wrap .middle-panel .product-image img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
#product-view .product-wrap .middle-panel .product-content {
  width: auto;
  overflow: hidden;
}
#product-view .product-wrap .middle-panel .product-content .product-heading h2.product-name {
  font-family: 'copperplate_gothic_lightRg', sans-serif;
  font-size: 36px;
  color: #000;
}
#product-view .product-wrap .middle-panel .product-content .product-heading span.price {
  font-family: 'copperplate_gothic_lightRg', sans-serif;
  font-size: 30px;
  color: #fff;
}
#product-view .product-wrap .middle-panel .product-content .product-body .description {
  font-family: 'Corbel', sans-serif;
  font-size: 24px;
  color: #000;
}
#product-view .product-wrap .middle-panel .product-content .product-body .controls {
  margin-bottom: 20px;
}
#product-view .product-wrap .middle-panel .product-content .product-body .controls > span {
  display: inline-block;
  cursor: pointer;
  height: 30px;
  width: 100px;
  background-color: #ff8534;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  border-radius: 4px;
  text-transform: uppercase;
}
#product-view .product-wrap .middle-panel .product-content .product-body .controls > span:hover {
  background-color: #e47a1c;
}
#product-view .product-wrap .middle-panel .product-content .product-body .recently-viewed ul.recently-viewed-list {
  zoom: 1;
}
#product-view .product-wrap .middle-panel .product-content .product-body .recently-viewed ul.recently-viewed-list:before,
#product-view .product-wrap .middle-panel .product-content .product-body .recently-viewed ul.recently-viewed-list:after {
  content: "";
  display: table;
}
#product-view .product-wrap .middle-panel .product-content .product-body .recently-viewed ul.recently-viewed-list:after {
  clear: both;
}
#product-view .product-wrap .middle-panel .product-content .product-body .recently-viewed ul.recently-viewed-list li.recently-viewed-item {
  float: left;
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
#product-view .product-wrap .middle-panel .product-content .product-body .recently-viewed ul.recently-viewed-list li.recently-viewed-item img {
  display: block;
  position: absolute;
  max-height: 80px;
  width: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#product-view .product-wrap .left-panel {
  left: 100px;
}
#product-view .product-wrap .right-panel {
  right: 100px;
}
#cart {
  background-image: url('../../images/bg/cart_bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#cart .cart-wrap {
  width: 1000px;
}
#cart .cart-wrap .cart-products ul.cart-products-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item {
  height: 200px;
  position: relative;
  zoom: 1;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item:before,
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item:after {
  content: "";
  display: table;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item:after {
  clear: both;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item:hover span.delete {
  display: block;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item span.delete {
  position: absolute;
  display: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  top: 10px;
  right: 10px;
  background: url('../../images/icons/delete-remove.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item .cart-product-image,
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item .cart-product-body {
  position: relative;
  float: left;
  background-color: #ffffff;
  height: 100%;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item .cart-product-image {
  margin-right: 3px;
  width: 150px;
  border-bottom: 1px solid grey;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item .cart-product-image:last-child {
  border: none;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item .cart-product-image img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item .cart-product-body {
  float: none;
  width: auto;
  overflow: hidden;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item .cart-product-body .body-wrap {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item .cart-product-body .body-wrap > div {
  display: table-cell;
  vertical-align: middle;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item .cart-product-body .body-wrap .name {
  width: 60%;
  font-family: 'kokilaregular', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item .cart-product-body .body-wrap .count {
  width: 20%;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item .cart-product-body .body-wrap .count input {
  font-family: 'kokilaregular', sans-serif;
  font-size: 29px;
  font-weight: normal;
  width: 40px;
  text-align: right;
  padding: 0 5px;
}
#cart .cart-wrap .cart-products ul.cart-products-list li.cart-product-item .cart-product-body .body-wrap .price {
  width: 20%;
  font-family: 'copperplate_gothic_lightRg', sans-serif;
  text-align: right;
  padding-right: 20px;
  font-size: 24px;
}
#cart .cart-wrap .cart-total {
  width: 850px;
  background-color: #fff;
  border-radius: 3px;
  margin: 30px auto 0 auto;
}
#cart .cart-wrap .cart-total .total-count,
#cart .cart-wrap .cart-total .total-price {
  padding: 0 10px 0 10px;
  zoom: 1;
}
#cart .cart-wrap .cart-total .total-count:before,
#cart .cart-wrap .cart-total .total-price:before,
#cart .cart-wrap .cart-total .total-count:after,
#cart .cart-wrap .cart-total .total-price:after {
  content: "";
  display: table;
}
#cart .cart-wrap .cart-total .total-count:after,
#cart .cart-wrap .cart-total .total-price:after {
  clear: both;
}
#cart .cart-wrap .cart-total .total-count > div,
#cart .cart-wrap .cart-total .total-price > div {
  float: left;
  width: 50%;
  min-height: 45px;
}
#cart .cart-wrap .cart-total .total-count > div.text-wrap,
#cart .cart-wrap .cart-total .total-price > div.text-wrap {
  text-align: left;
}
#cart .cart-wrap .cart-total .total-count > div.number-wrap,
#cart .cart-wrap .cart-total .total-price > div.number-wrap {
  text-align: right;
}
#cart .cart-wrap .cart-total span.text {
  font-family: 'Corbel', sans-serif;
  color: #4b4b4b;
}
#cart .cart-wrap .cart-total span.number {
  font-family: 'copperplate_gothic_lightRg', sans-serif;
  color: #4b4b4b;
}
#cart .cart-wrap .cart-total .total-count > div {
  border-bottom: 1px solid grey;
}
#cart .cart-wrap .cart-total .total-count span.text,
#cart .cart-wrap .cart-total .total-count span.number {
  font-size: 24px;
}
#cart .cart-wrap .cart-total .total-price span.text,
#cart .cart-wrap .cart-total .total-price span.number {
  font-size: 30px;
}
#cart .cart-wrap .cart-controls {
  text-align: center;
  margin-top: 20px;
}
#cart .cart-wrap .cart-controls span {
  display: inline-block;
  width: 280px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#cart .cart-wrap .cart-controls span.back-to-catalog {
  background-image: url('../../images/icons/continue_shopping.png');
}
#cart .cart-wrap .cart-controls span.checkout {
  margin-right: 5px;
  background-image: url('../../images/icons/proceed_checkout.png');
}
#cart .cart-wrap .cart-controls span.checkout:hover {
  background-image: url('../../images/icons/proceed_checkout_hover.png');
}
#checkout {
  background-image: url('../../images/bg/cart_bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#checkout .checkout-wrap {
  background: #fff;
  width: 1000px;
  border-radius: 5px;
}
#checkout .checkout-wrap .checkout-heading h1.heading {
  font-family: 'Corbel', sans-serif;
  font-size: 48px;
  color: #26655e;
  text-transform: uppercase;
  text-align: center;
}
#checkout .checkout-wrap .checkout-body {
  position: relative;
  zoom: 1;
}
#checkout .checkout-wrap .checkout-body:before,
#checkout .checkout-wrap .checkout-body:after {
  content: "";
  display: table;
}
#checkout .checkout-wrap .checkout-body:after {
  clear: both;
}
#checkout .checkout-wrap .checkout-body > div {
  position: relative;
  float: left;
  width: 50%;
}
#checkout .checkout-wrap .checkout-body .order-form .form-row {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 5px;
}
#checkout .checkout-wrap .checkout-body .order-form .form-row.bigger-margin {
  margin-bottom: 10px;
}
#checkout .checkout-wrap .checkout-body .order-form .form-row.submit-button {
  text-align: center;
}
#checkout .checkout-wrap .checkout-body .order-form .form-row label {
  position: relative;
  width: 100%;
  text-align: left;
  font-family: 'Corbel', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  zoom: 1;
}
#checkout .checkout-wrap .checkout-body .order-form .form-row label:before,
#checkout .checkout-wrap .checkout-body .order-form .form-row label:after {
  content: "";
  display: table;
}
#checkout .checkout-wrap .checkout-body .order-form .form-row label:after {
  clear: both;
}
#checkout .checkout-wrap .checkout-body .order-form .form-row label input {
  position: relative;
  border: none;
  border-bottom: 1px solid grey;
  width: 60%;
  float: right;
  outline: none;
}
#checkout .checkout-wrap .checkout-body .order-form .form-row label textarea {
  position: relative;
  width: 60%;
  float: right;
  border: 1px solid grey;
  outline: none;
}
#checkout .checkout-wrap .checkout-body .order-form .form-row button#submitOrder {
  display: inline-block;
  width: 250px;
  height: 30px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  background-image: url('../../images/icons/place_your_order.png');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#checkout .checkout-wrap .checkout-body .order-form .form-row button#submitOrder:hover {
  background-image: url('../../images/icons/place_your_order_hover.png');
}
#checkout .checkout-wrap .checkout-body .order-details .details-heading h3.heading {
  margin-top: 0;
  text-align: left;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Corbel', sans-serif;
}
#checkout .checkout-wrap .checkout-body .order-details ul.order-items-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
#checkout .checkout-wrap .checkout-body .order-details ul.order-items-list li.order-item {
  position: relative;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid grey;
  zoom: 1;
}
#checkout .checkout-wrap .checkout-body .order-details ul.order-items-list li.order-item:before,
#checkout .checkout-wrap .checkout-body .order-details ul.order-items-list li.order-item:after {
  content: "";
  display: table;
}
#checkout .checkout-wrap .checkout-body .order-details ul.order-items-list li.order-item:after {
  clear: both;
}
#checkout .checkout-wrap .checkout-body .order-details ul.order-items-list li.order-item .item-image {
  position: relative;
  height: 100%;
  width: 80px;
  float: left;
  background-color: #fff;
}
#checkout .checkout-wrap .checkout-body .order-details ul.order-items-list li.order-item .item-image img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#checkout .checkout-wrap .checkout-body .order-details ul.order-items-list li.order-item .item-body {
  width: auto;
  overflow: hidden;
  float: none;
}
#checkout .checkout-wrap .checkout-body .order-details ul.order-items-list li.order-item .item-body .item-body-wrap {
  position: relative;
  display: table;
  width: 100%;
  height: 90px;
}
#checkout .checkout-wrap .checkout-body .order-details ul.order-items-list li.order-item .item-body .item-body-wrap > div {
  display: table-cell;
  vertical-align: middle;
}
#checkout .checkout-wrap .checkout-body .order-details ul.order-items-list li.order-item .item-body .item-body-wrap .name {
  text-transform: uppercase;
  font-family: 'kokilaregular', sans-serif;
  font-size: 14px;
}
#checkout .checkout-wrap .checkout-body .order-details ul.order-items-list li.order-item .item-body .item-body-wrap .count label input {
  font-family: 'kokilaregular', sans-serif;
  font-size: 14px;
}
#checkout .checkout-wrap .checkout-body .order-details ul.order-items-list li.order-item .item-body .item-body-wrap .price {
  font-family: 'copperplate_gothic_lightRg', sans-serif;
  font-size: 20px;
  padding-right: 14px;
  width: 100px;
  text-align: right;
}
#checkout .checkout-wrap .checkout-body .order-details ul.order-items-list li.order-item span.delete-order-item {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-image: url('../../images/icons/delete-remove.png');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#checkout .checkout-wrap .checkout-body .order-details ul.order-items-list li.order-item:hover span.delete-order-item {
  display: block;
}
.popup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: none;
}
.popup.shown {
  display: block;
}
.popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.popup {
  -webkit-transition: 0.3s top ease-in-out;
  -moz-transition: 0.3s top ease-in-out;
  -ms-transition: 0.3s top ease-in-out;
  -o-transition: 0.3s top ease-in-out;
}
