.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
#product-view {
  background-image: url('../../images/bg/product-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#product-view .product-wrap {
  position: relative;
}
#product-view .product-wrap > div {
  position: absolute;
}
#product-view .product-wrap ul.related-products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
  border-radius: 5px;
}
#product-view .product-wrap ul.related-products-list li.related-product-item {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  cursor: pointer;
}
#product-view .product-wrap ul.related-products-list li.related-product-item img {
  max-height: 80px;
  width: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#product-view .product-wrap .left-panel,
#product-view .product-wrap .right-panel {
  top: 100px;
}
#product-view .product-wrap .middle-panel {
  top: 110px;
  left: 50%;
  width: 800px;
  padding: 10px;
  background-color: rgba(82, 182, 164, 0.3);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  zoom: 1;
}
#product-view .product-wrap .middle-panel:before,
#product-view .product-wrap .middle-panel:after {
  content: "";
  display: table;
}
#product-view .product-wrap .middle-panel:after {
  clear: both;
}
#product-view .product-wrap .middle-panel .product-image {
  float: left;
  width: 300px;
  position: relative;
  margin-right: 20px;
}
#product-view .product-wrap .middle-panel .product-image img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
#product-view .product-wrap .middle-panel .product-content {
  width: auto;
  overflow: hidden;
}
#product-view .product-wrap .middle-panel .product-content .product-heading h2.product-name {
  font-family: 'copperplate_gothic_lightRg', sans-serif;
  font-size: 36px;
  color: #000;
}
#product-view .product-wrap .middle-panel .product-content .product-heading span.price {
  font-family: 'copperplate_gothic_lightRg', sans-serif;
  font-size: 30px;
  color: #fff;
}
#product-view .product-wrap .middle-panel .product-content .product-body .description {
  font-family: 'Corbel', sans-serif;
  font-size: 24px;
  color: #000;
}
#product-view .product-wrap .middle-panel .product-content .product-body .controls {
  margin-bottom: 20px;
}
#product-view .product-wrap .middle-panel .product-content .product-body .controls > span {
  display: inline-block;
  cursor: pointer;
  height: 30px;
  width: 100px;
  background-color: #ff8534;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  border-radius: 4px;
  text-transform: uppercase;
}
#product-view .product-wrap .middle-panel .product-content .product-body .controls > span:hover {
  background-color: #e47a1c;
}
#product-view .product-wrap .middle-panel .product-content .product-body .recently-viewed ul.recently-viewed-list {
  zoom: 1;
}
#product-view .product-wrap .middle-panel .product-content .product-body .recently-viewed ul.recently-viewed-list:before,
#product-view .product-wrap .middle-panel .product-content .product-body .recently-viewed ul.recently-viewed-list:after {
  content: "";
  display: table;
}
#product-view .product-wrap .middle-panel .product-content .product-body .recently-viewed ul.recently-viewed-list:after {
  clear: both;
}
#product-view .product-wrap .middle-panel .product-content .product-body .recently-viewed ul.recently-viewed-list li.recently-viewed-item {
  float: left;
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
#product-view .product-wrap .middle-panel .product-content .product-body .recently-viewed ul.recently-viewed-list li.recently-viewed-item img {
  display: block;
  position: absolute;
  max-height: 80px;
  width: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#product-view .product-wrap .left-panel {
  left: 100px;
}
#product-view .product-wrap .right-panel {
  right: 100px;
}
