@import 'dev-mixins';


.popup {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	height: 100%;
	width: 100%;

	overflow-y: auto;
	overflow-x: hidden;
	background: no-repeat center center;
//	display: none;

	.transition(0.3s opacity ease-in-out);
	.background-size(cover);


	.popup-content {
		position: absolute;
		top: 80px;
		right: 0;
		bottom: 180px;
		left: 0;
		.perspective(1000px);
	}
}