@import "dev-mixins";

#product-view {
	background-image: url('/images/bg/product-bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 99;
	.background-size(cover);

	.product-wrap {
		> div {
			position: absolute;
			top: 50%;
		}

		ul.related-products-list {
			position: relative;
			list-style: none;

			margin: 0;
			padding: 0;
			background: #fff;

			&::before {
				position: absolute;
				top: 0;
				left: 0;

				content: '';
				display: block;
				z-index: 20;

				height: 25px;
				width: 40px;
				margin: 2px 0 0 2px;

				background-image: url("/images/icons/product_sprite.png");
				background-repeat: no-repeat;
				background-position: 0 0;
			}


			li.related-product-item {
				position: relative;
				display: block;
				width: 150px;
				height: 150px;
				overflow: hidden;
				cursor: pointer;

				img {
					max-height: 150px;
					width: auto;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					.translate(-50%, -50%);
				}
			}
		}

		.middle-panel {
			left: 50%;

			width: 1100px;
			padding: 40px;

			background-color: rgba(82, 182, 164, 0.3);
			opacity: 0;


//			@transform: translateX(-50%) translateY(-150%) translateZ(0) rotateX(70deg) scale(1.5);
//			@transition: transform 0.5s cubic-bezier(.15,.88,.24,.98), opacity 0.7s ease-out;
//
//			.transform(@transform);
//			.transition(@transition);

			@transform: translate(-50%, -50%);
			.transform(@transform);

			.middle-panel-inner {
				display: table-row;

				> .product-image,
				> .product-content {
					display: table-cell;
					vertical-align: middle;
				}
			}
			.product-image {
				position: relative;

				width: 300px;

				img {
					position: relative;
					display: block;

					width: 100%;
					height: auto;
				}
			}
			
			.product-content {
				padding-left: 40px;

				.product-heading {
					h2.product-name {
						margin-top: -5px;
						font-family: 'Mangal', sans-serif;
						font-size: 36px;
						color: #000;
						text-transform: uppercase;
					}
					span.price {
						font-family: 'copperplate_gothic_lightRg', sans-serif;
						font-size: 30px;
						color: #fff;
					}
				}
				.product-body {
					.description {
						font-family: 'Corbel', sans-serif;
						font-size: 24px;
						color: #000;
					}
					.controls {
						margin-bottom: 20px;

						> span {
							display: inline-block;
							cursor: pointer;
							height: 30px;
							width: 100px;
							background-color: #ff8534;
							color: #fff;
							text-align: center;
							line-height: 30px;
							font-size: 20px;
							border-radius: 4px;
							text-transform: uppercase;

							&:hover {
								background-color: #e47a1c;
							}
						}
					}
					.recently-viewed .recently-viewed-list {
						&::before {
							background-position: -85px -30px;
						}
					}
				}
			}

			.close-button {
				position: absolute;
				right: 0;
				top: 0;
				
				display: block;
				height: 32px;
				width: 32px;

				cursor: pointer;
				
				background: url("/images/icons/close_button.png") no-repeat center center;
			}
		}

		.left-panel,
		.right-panel {
			opacity: 0;
			min-height: 600px;

			> ul.related-products-list {
				&::before {
					width: 35px;
					height: 35px;
				}
			}
		}

		.left-panel {
			left: 100px;
			@transform: translate(-200px, -50%);
			.transform(@transform);

			ul.purchased-together {
				&::before {
					background-position: -136px -26px;
				}
			}
		}
		.right-panel {
			right: 100px;
			@transform: translate(200px, -50%);
			.transform(@transform);

			ul.added-together {
				&::before {
					background-position: -181px -25px;
				}
			}
		}
	}
}

@import "slider";
